.top-container{
  background-color: #47597E;


}
.middle-container{
  background-color: #F0D9E7;
  width: 75%;
  margin: 30px auto 30px;
}
.bottom-container{
  background-color: #B4846C;

  margin: 30px auto 30px auto;
  line-height: 1.5;

}
.line{
  background-color: #47597E;
  height: 4px;
}
.skill-row{
  width: 70%;
  margin:auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
  line-height: 2;
}
.code{

  width: 30%;
  float: right;
  margin-left: 30px;
}
.chill{

  width: 30%;
  float: left;
  margin-right: 30px;
}
.sub{
  font-weight: normal;
      color: #11999E;
}
p{
  margin-top: 0;
}
.hash{
  color: #C84B31;
}
body{
  background-color: #47597E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather',serif;

}
h1{
  margin: 50px auto 0 auto;
  color: #66BFBF;

  padding: 5px;
  height: 20%;
  width:30%;

  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;100% is 16px=1em
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;

}
h3{
  font-family: 'Montserrat', sans-serif;
    margin: 0 auto 0 auto;
  /*  font-size: 2rem; for 36px
*/
}
.top-cloud{
  margin-top: 20px;
  position: relative;
  left: 300px;
}
.bottom-cloud{
 position: absolute;
}
.me{
  border-radius: 100%;
  border: 3px solid red;
  height: 30%;
  width: 30%;
}
.copyright{
  color: #EAF6F6;
  font: 0.75rem;
}

.get{
  font-size: 2.5rem;
}
.BUTTON_UEL {
   background: #F5E6CA;
   background-image: -webkit-linear-gradient(top, #F5E6CA, #B4846C);
   background-image: -moz-linear-gradient(top, #F5E6CA, #B4846C);
   background-image: -ms-linear-gradient(top, #F5E6CA, #B4846C);
   background-image: -o-linear-gradient(top, #F5E6CA, #B4846C);
   background-image: -webkit-gradient(to bottom, #F5E6CA, #B4846C);
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   color: #000000;
   font-family: Brush Script MT;
   font-size: 34px;
   font-weight: 300;
   padding: 0 10px 0;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 1px #B4846C;
   border: solid #B4846C 4px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_UEL:hover {
   border: solid #B4846C 5px;
   background: #B4846C;
   background-image: -webkit-linear-gradient(top, #B4846C, #F5E6CA);
   background-image: -moz-linear-gradient(top, #B4846C, #F5E6CA);
   background-image: -ms-linear-gradient(top, #B4846C, #F5E6CA);
   background-image: -o-linear-gradient(top, #B4846C, #F5E6CA);
   background-image: -webkit-gradient(to bottom, #B4846C, #F5E6CA);
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   text-decoration: none;
}
